DB_PASSWORD=tu_password_aqui
ZENTRA_MASTER_KEY=tu_llave_maestra_base64_aqui
ZENTRA_JWT_SECRET=tu_llave_JWT

# Configuración del administrador inicial (SeedDataInitializer)
ZENTRA_ADMIN_PASSWORD=tu_contraseña_admin_aqui

# Configuración del certificado y CSC de prueba en desarrollo (DataInitializer)
ZENTRA_DEV_CERT_PATH=c:/direccion/path/certificado_para_facturacion.pfx
ZENTRA_DEV_CERT_PASS=PASS_DE_CERTIFICADO
ZENTRA_DEV_CSC_ID=0001
ZENTRA_DEV_CSC_VAL=ABCD000000000000000000000000000000000000000000000000000000000000

#Configuracion de envio de correo google
SMTP_USERNAME=zentra.sifen@gmail.com
SMTP_PASSWORD=PASS_DE_APLICACION_GOOGLE