DB_PASSWORD=tu_password_aqui
ZENTRA_MASTER_KEY=tu_llave_maestra_base64_aqui
ZENTRA_JWT_SECRET=tu_llave_JWT

# Configuración del administrador inicial (SeedDataInitializer)
ZENTRA_ADMIN_PASSWORD=tu_contraseña_admin_aqui

# Configuración del certificado y CSC de prueba en desarrollo (DataInitializer)
ZENTRA_DEV_CERT_PATH=d:/Personales/SISTEMAS/SIFEN/zentra/context/certificado_para_facturacion.pfx
ZENTRA_DEV_CERT_PASS=77145137
ZENTRA_DEV_CSC_ID=0001
ZENTRA_DEV_CSC_VAL=73c9BeeA5AFb8fD17a3fD93a32A07A1a